@charset "utf-8";
/* CSS Document */
/* body{background: url(../images/temp/temp_about.jpg)no-repeat center top /100%;} */
.innerpage{overflow-x: hidden;}
section.section_same{padding: 120px 0;}
.section_same .wrapper{max-width: 1650px;}
.sec-title{margin: 0 0 40px;}
.about_top_wrap{ background: url(../images/about/about_bg_1.gif)no-repeat center 70px;padding-top: 80px!important;}
.titleh2{font-weight: 500;letter-spacing: 8px;}
.about_us{padding-top: 17%;margin-left: auto;margin-right: 4%;max-width: 600px;}
.aside_wrap{margin-right: 10%;}
.about_group_wrap{position: relative;}
.about_group_wrap:after{content: "";background: url(../images/about/about_bg_2.png)no-repeat;width: 93px;height: 512px;position: absolute;left: 0;top: -165px; }
.about_group_wrap .titleh2{margin-bottom: 31px;}
.subtitle{font-size: 1rem;color: var(--gray-400_color);font-weight: 500;font-family: 'Noto Serif HK';letter-spacing: 4px;}
.aboutdetail_wrap{margin-top: 40px; color: var(--gray-500_color);}
.aboutdetail_wrap li{display: flex;margin-bottom: 24px;font-weight: 400;line-height: 32px;letter-spacing: 4px;margin-right: 5%;}
.aboutdetail_wrap li .about_title{flex: 0 0 100px; margin-right: 40px;}
.about_journey_wrap.section_same{padding-top: 210px;padding-bottom: 475px ;}
.about_journey_wrap{position: relative;margin-top: revert;}
.about_journey_wrap .titleh2{border-bottom: 1px solid #E8E8E8;padding-bottom: 40px;margin-bottom: revert;}
.about_journey_wrap .wrapper{max-width: 1240px;}
.about_journey_wrap::before{content: "";background: url(../images/about/about_bg_3.png)no-repeat;width: 1703px;height: 462px;position: absolute;right: 0;top: -217px; }
.about_journey_wrap::after{content: "";background: url(../images/about/about_bg_4.png)no-repeat;width: 2109px;height: 457px;position: absolute;left: 7vw;bottom: 80px; }
.about_journey_wrap .aboutdetail_wrap{margin-top: revert;}
.about_journey_wrap .aboutdetail_wrap li{ border-bottom: 1px solid #E8E8E8;padding: 32px 0;margin-right: revert;margin-bottom: revert;}
.about_journey_wrap .aboutdetail_wrap li .about_title{flex: 0 0 200px;}

@media screen and (max-width: 1199px) {
    .about_top_wrap{background-position:center right -13vw;}
    .about_us{padding: 50% 0 0 0;}
    .aside_wrap{flex:  0 0 100%; margin-right: revert;margin-bottom: 24px;}
    .about_journey_wrap .titleh2{text-align: center;}
    .about_journey_wrap::after{content: "";background: url(../images/about/about_bg_4_m.png) no-repeat;width: 100%;height: 0;position: absolute;bottom: 0;padding-bottom: 35%;background-size: 95%;left: 3%;right: 3%;}
    .about_journey_wrap::before{display: none;}
    .aboutdetail_wrap li{margin-right: revert;}
    .about_journey_wrap .aboutdetail_wrap li .about_title{    flex: 0 0 100px;}
    section.section_same{padding: 5% 0;}
    .about_group_wrap:after{display: none;}
    .about_journey_wrap.section_same{padding-top:revert;padding-bottom: 52%;}
    .about_us{padding: 60% 0 0 0;max-width:revert;margin: revert;}
    .ceo_img{max-width: 400px;margin: auto;}
}

@media screen and (max-width: 767px) {
    .about_top_wrap{background-position:top 160px right -228px;}
    .aboutdetail_wrap li .about_title{margin-right: 8px;}
}

@media screen and (max-width: 500px) {
    .about_top_wrap{background-position:top 160px right -318px;}
}