@charset "utf-8";
/**************************************************
        CSS 初始化
**************************************************/
:root {
  --primary_color: #1C2F5A;
  --second_color: #2C6286;
  --gray-500_color: #2D2D2D;
  --gray-400_color: #707070;
  --gray-300_color: #929292;
  --gray-200_color: #D1D1D1;
  --gray-100_color: #BFBFBF;
  --white_color: #fff;
}

html,body{margin:0;}
body{font-size:100%;line-height: 1.8; font-family:'Noto Serif TC',sans-serif ; color: var(--primary_color); position: relative; background-color: var(--white_color)}
body * {-webkit-text-size-adjust: none;box-sizing: border-box;}
body{overflow-x: hidden;}
*::-moz-selection { background: #1C2F5A; color: #fff; text-shadow: none; }
::-moz-selection { background: #1C2F5A; color: #fff; text-shadow: none; }
::selection { background: #1C2F5A; color: #fff; text-shadow: none; }
a:focus{outline:0;}
a {color:var(--primary_color);text-decoration:none;}
a:hover{text-decoration:none;}
a, a:after, a:before {transition: all .3s ease-in-out;}
img{border: 0 none;line-height:0;display: block;max-width: 100%;width: 100%;}
img{width: 100%; height: 100%;-o-object-fit: cover;object-fit: cover;}
form {margin:0; padding:0;}
ul, ul li {margin: 0;padding: 0;list-style-type: none;}
dl, dt, dd {margin: 0;padding: 0;}
dl {height: 1%;}
button{border:0 none; cursor:pointer;padding: 0;margin: 0;background: transparent;}
/* .clearfix:before,.clearfix:after {content: "";display: table;height: 0;overflow: hidden;}
.clearfix:after {clear: both;}
.clearfix { zoom: 1;} */
h1,h2,h3,h4,p{margin:0;padding: 0;}
*, :after, :before{box-sizing: border-box;}
.select_wrap{position: relative;}
.select_wrap i{position: absolute; top:11px;right: 12px;}
select {-webkit-appearance: none;padding: 7px 40px 7px 12px;width: 100%;border: 1px solid #e8eaed;border-radius: 5px;background: #e3dfd6;box-shadow: 0 1px 3px -2px #9098a9;cursor: pointer;font-family: inherit;font-size: 16px;transition: all 150ms ease;color: #495057;}
select:focus {outline: none;}
select::-ms-expand {display: none;}

.btn_primary {font-family:'Noto Serif TC';font-size: 1rem;font-weight: 600;line-height: 23px;letter-spacing: 0.12em;text-align: center;color: var(--gray-500_color);padding: 24px 160px;border: 1px solid var(--gray-500_color);border-radius: 0;white-space: pre;}
/* .btn_primary{padding:calc(.5vw + 6px)  calc(1vw + 17px) calc(.5vw + 9px) ;border: 1px solid var(--primary_color);width: fit-content;font-size: clamp(1rem, 4vw, 1.5rem);line-height: 1;font-weight: 700;transition: all .3s ease-in-out;display: inline-block;font-family: "Brandon"; } */
.btn_primary:hover {background-color:var(--primary_color);border-color: var(--white_color);color: var(--white_color);}
/* .btn_primary:hover{ background-color: var(--primary_color); color: var(--white_color);} */
.back-btn {text-align: center;margin: 120px 0;}
.back-btn a {width: 240px;font-size: 1rem;font-weight: 500;line-height: 23px;letter-spacing: 0.25em;display: inline-flex;justify-content: space-between;padding-bottom: 4px;border-bottom: 1px solid #2D2D2D;}
.back-btn a:hover {border-bottom-color: #fff;}

@media (max-width: 1100px) {

  
}

/* .input_control {display: block;width: 100%;height: 48px;padding: 9px 16px;font-size: 1rem;font-weight: 400;line-height: 1.5;transition: all .15s ease-in-out;border-radius: 8px;display: block;font-family: inherit;width: 100%;border: 1px solid #BABABA;color: rgba(0, 0, 0, 0.87);letter-spacing: 1px;font-size: 1rem; background-color: #F0F0EE;}
.input_control:hover{border: 1px solid #9E9E9E;}
.input_control:focus,
.input_control:focus-visible{border: 2px solid #e9cab1;outline: none;}
.primary_color{ color: var(--primary_color);}
.blue_color{ color: var(--blue_color);} */
/**************************************************
        共用
**************************************************/
.wrapper{margin: auto;padding:  0 160px;}
.display_flex{display:flex;}


.titleh2{font-size: clamp(1.5rem, 5vw, 2rem);letter-spacing: 3.84px;margin-bottom: calc(.5vw + 7px);font-family:"Noto Serif JP";color: var(--primary_color);font-weight: 600;}
.titleh3{font-size: clamp(2rem, 5vw, 2.25rem);letter-spacing: 9px;font-family:"Noto Serif HK";color: var(--primary_color);font-weight: 600;}

.mb_primary{margin-bottom:calc(2vw - 1px);}
.section_home_slider .swiper-button-next, .section_home_slider .swiper-button-prev {color: white;}
.area_wrap{display: flex;}
.area_wrap .area_25{flex: 0 0 25%;}
.area_wrap .area_25.title{display: flex;justify-content: center;align-items: center;}
.area_wrap .area_50{flex: 0 0 50%;padding: 6% 5%;}
.area_wrap .area_75{flex: 0 0 75%;padding: 6%;}
.mobile{display: none;}

header {position: fixed;z-index: 2;left: 0; right: 0;top: 0; z-index: 10;transition: all 1s;}
header .wrapper{padding: 0 3%;}
header.active{background: var(--white_color);}
header .header_wrap{display: flex;justify-content: space-between;align-items: center;position: relative;z-index: 11;}
.header_wrap{justify-content: space-between;align-items: center; margin:24px 0;}
.header_wrap_postion.active .header_wrap{margin: 10px 0;}
/* .header_wrap_postion.active .logo svg{width: 120px; height: 50px;}
.header_wrap_postion.active .logo {margin: revert;} */
.header.open .header_wrap_postion.active .logo svg{width: revert;}
.aside_wrap{flex: 0 0 30%;margin-right: 5%;}
.article{line-height: 32px;font-size: 1rem;font-weight: 400;color: var(--gray-500_color);letter-spacing: 1.92px;}
.innerpage{padding-top: 190px;}


.sec-title {margin: 80px 0;}
.sec-title h1 {font-family: "Noto Serif HK", serif;color: #1C2F5A;font-size: clamp(2rem, 3vw, 3rem);font-weight: 600;line-height: 4.3125rem;letter-spacing: 0.25em; }
.sec-title p {font-family: "Amiri", serif;font-size: clamp(1rem, 3vw, 1.5rem);font-weight: 400;line-height: 2.625rem;letter-spacing: 0.25em;color: var(--second_color);margin-bottom: 0; }
.sec-title .titleh1 {font-family: "Noto Serif HK", serif;color: #1C2F5A;font-size: clamp(2rem, 3vw, 3rem);font-weight: 600;line-height: 4.3125rem;letter-spacing: 0.25em; }

.cta ul {margin: 0;padding: 8px;list-style: none;display: flex;border-top: 1px solid #E8E8E8;border-bottom: 1px solid #E8E8E8;}
.cta li {width: 50%;display: flex;justify-content: center;}

.cta a {color: #1C2F5A;font-family: 'Noto Serif TC';font-size: .875rem;font-weight: 500;line-height: 20px;letter-spacing: 0.12em;padding: 8px 16px;display: block;width: 100%;text-align: center;}
.cta a.active {color: #707070;pointer-events: none;}
@media screen and (max-width: 1399px) {
  .cta {margin: 40px 80px;}
  .wrapper{padding: 0 5%;}
}
@media screen and (max-width: 1199px) {
  .cta {margin: 40px 40px;}
  .sec-title h1{text-align: center;}
  .sec-title .titleh1{text-align: center;line-height: 1.4;}
  .sec-title p { text-align: center;}
  .display_flex{flex-direction: column;}
  .titleh2{letter-spacing: 2.88px;}
  header {background-color: #fff;}
}
@media screen and (max-width: 767px) {
  .cta {margin: 40px 16px;}
  .sec-title {margin: 48px 0;}
  .sec-title h1 {margin-bottom: 40px;line-height: normal;}
  .innerpage{padding-top: 137px;}

}
@media screen and (max-width: 600px) {
  header .header_wrap{margin:10px 0;}
}

.page-nav {
  display: flex;
  justify-content: center;
  margin: 80px 0 64px;
}
.page-link {
  background: transparent;
  border: none;
  border-radius: 0;
  font-family: Amiri;
  font-size: 2rem;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  color: rgba(28, 47, 90, .6);
  padding: 0 20px;
}
.page-item.active .page-link {
  background: transparent;
  border: none;
  color: rgba(28, 47, 90, 1);
}
.page-item:hover .page-link {
  background: transparent;
  color: rgba(28, 47, 90, 1);
}
.page-nav .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/**************************************************
        logo
**************************************************/
.logo svg{fill: currentColor; color: var(--primary_color); transition: all .3s;}
.logo .logo_discript{color:var(--primary_color) ; font-size: 1rem;font-weight: 500;letter-spacing: 12.52px;transition: all .3s;}
.fixed_bar.active .logo svg{width: 110px;height: 33px;}
.fixed_bar.active .logo .logo_discript{font-size: .9rem;letter-spacing: 1.52px;line-height: 1;}

@media (max-width: 1100px) {


}
@media (max-width: 600px) {
  .logo svg{width: 90px;height: 30px;}
  .logo .logo_discript{font-size: .7rem;letter-spacing: 1.52px;line-height: .5;}


}
/**************************************************
        Menu選單
**************************************************/
/* .fixed_bar{position: fixed; left: 0; right: 0;z-index: 10;} */

.navbar a{text-indent: -9999px; transition: all .3s;font-weight: 700;color: var(--primary_color);}
.active .navbar a{color: var(--primary_color);font-size: 1.4rem;}
.nav_open{position: fixed;left: 0;right: 0;z-index: 30;}
/* .nav_open .navbar .html_close{background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 99 99" style="enable-background:new 0 0 99 99;" xml:space="preserve"><style type="text/css">.st0{fill:none;}.st1{fill-rule:evenodd;clip-rule:evenodd;fill:%23FDFDFD;}</style><rect class="st0" width="99" height="99"/><path id="Union" class="st1" d="M50.3,55.6c-1,0-1.8-0.1-2.7-0.4c-0.8-0.3-1.5-0.7-2.1-1.2c-0.6-0.5-1.1-1.1-1.4-1.8c-0.3-0.7-0.5-1.5-0.5-2.3s0.2-1.6,0.5-2.3c0.3-0.7,0.8-1.3,1.4-1.8c0.6-0.5,1.3-0.9,2.1-1.2c0.8-0.3,1.7-0.4,2.7-0.4s1.8,0.1,2.6,0.4c0.8,0.3,1.5,0.7,2.1,1.2c0.6,0.5,1.1,1.1,1.4,1.8c0.3,0.7,0.5,1.4,0.5,2.3s-0.2,1.6-0.5,2.3c-0.3,0.7-0.8,1.3-1.4,1.8c-0.6,0.5-1.3,0.9-2.1,1.2C52.1,55.4,51.2,55.6,50.3,55.6z M50.3,53.6c0.7,0,1.3-0.1,1.8-0.3c0.6-0.2,1-0.5,1.4-0.8c0.4-0.4,0.7-0.8,0.9-1.2c0.2-0.5,0.3-1,0.3-1.5c0-0.5-0.1-1-0.3-1.5c-0.2-0.5-0.5-0.9-0.9-1.2c-0.4-0.4-0.9-0.6-1.4-0.8c-0.5-0.2-1.1-0.3-1.8-0.3c-0.7,0-1.3,0.1-1.8,0.3c-0.6,0.2-1,0.5-1.4,0.8c-0.4,0.3-0.7,0.7-0.9,1.2c-0.2,0.5-0.3,1-0.3,1.5c0,0.5,0.1,1,0.3,1.5c0.2,0.5,0.5,0.9,0.9,1.2c0.4,0.3,0.9,0.6,1.4,0.8C49,53.5,49.6,53.6,50.3,53.6z M19.9,55.2c0.8,0.3,1.6,0.4,2.5,0.4c0.7,0,1.4-0.1,2-0.3c0.6-0.2,1.2-0.4,1.7-0.7c0.5-0.3,0.9-0.5,1.2-0.8l-1-1.7c-0.3,0.2-0.6,0.5-1,0.7c-0.4,0.2-0.8,0.4-1.2,0.6c-0.5,0.1-1,0.2-1.6,0.2c-0.6,0-1.1-0.1-1.7-0.2c-0.5-0.2-1-0.4-1.4-0.7c-0.4-0.3-0.7-0.7-1-1.2c-0.2-0.5-0.4-1-0.4-1.6c0-0.6,0.1-1.1,0.4-1.6c0.2-0.5,0.5-0.9,0.9-1.2c0.4-0.3,0.8-0.6,1.3-0.8c0.5-0.2,1-0.3,1.6-0.3c0.5,0,1,0.1,1.5,0.2c0.5,0.1,0.9,0.3,1.3,0.5c0.4,0.2,0.8,0.5,1.1,0.8l1.2-1.7c-0.3-0.3-0.8-0.6-1.3-0.9c-0.5-0.3-1.1-0.5-1.7-0.7c-0.6-0.2-1.3-0.3-2-0.3c-0.9,0-1.7,0.1-2.5,0.4c-0.8,0.3-1.5,0.7-2,1.2c-0.6,0.5-1.1,1.1-1.4,1.8c-0.3,0.7-0.5,1.5-0.5,2.3c0,0.9,0.2,1.6,0.5,2.4c0.3,0.7,0.8,1.3,1.4,1.8C18.4,54.5,19.1,54.9,19.9,55.2z M33.5,44.2h-2.1v11.2h9v-1.9h-7V44.2z M63.5,55.3c0.7,0.2,1.4,0.2,2.2,0.2c1,0,1.9-0.1,2.7-0.4c0.8-0.3,1.4-0.7,1.8-1.3c0.4-0.6,0.7-1.2,0.7-1.9c0-0.6-0.1-1-0.4-1.4c-0.3-0.4-0.6-0.7-1.1-0.9s-1-0.4-1.6-0.5c-0.6-0.1-1.2-0.2-1.8-0.3c-0.4-0.1-0.8-0.1-1.2-0.2c-0.4-0.1-0.7-0.2-1-0.3c-0.3-0.1-0.5-0.3-0.7-0.4s-0.2-0.4-0.2-0.6c0-0.3,0.1-0.5,0.4-0.8c0.2-0.2,0.5-0.4,0.9-0.5c0.4-0.1,0.9-0.2,1.4-0.2c0.5,0,0.9,0.1,1.4,0.2c0.4,0.1,0.8,0.3,1.2,0.5c0.4,0.2,0.7,0.5,1,0.8l1.2-1.5c-0.3-0.4-0.7-0.7-1.2-1c-0.5-0.3-1-0.5-1.6-0.6s-1.3-0.2-2-0.2c-0.7,0-1.3,0.1-1.9,0.2c-0.6,0.1-1.1,0.4-1.6,0.7s-0.8,0.6-1.1,1.1c-0.2,0.4-0.4,0.9-0.4,1.4c0,0.5,0.1,0.9,0.3,1.3c0.2,0.4,0.5,0.7,0.9,1c0.4,0.3,0.9,0.5,1.4,0.7c0.6,0.2,1.2,0.3,1.9,0.4c0.3,0,0.6,0.1,0.9,0.1c0.3,0,0.6,0.1,0.9,0.2c0.3,0.1,0.6,0.1,0.8,0.3c0.2,0.1,0.4,0.2,0.6,0.4c0.1,0.1,0.2,0.3,0.2,0.5c0,0.4-0.1,0.7-0.4,0.9c-0.3,0.2-0.6,0.4-1.1,0.5c-0.4,0.1-0.9,0.2-1.3,0.2c-0.8,0-1.6-0.1-2.3-0.4c-0.7-0.3-1.4-0.8-2.1-1.5l-1.2,1.7c0.5,0.4,1,0.8,1.5,1.2C62.2,54.9,62.8,55.2,63.5,55.3z M75,44h8.9v1.8H75V44z M83.9,54H75v1.8h8.9V54z M75,49h8.9v1.8H75V49z"/></svg>');
  display: block;background-color: #333;width: 80px;height: 80px;display: block;text-indent: -9999px;border: 1px solid #333333; border-radius: 100px;transition: all .3s;} */

.nav-wrap .nav_primary_wrap{position: relative; background-color: #FDFDFD;padding-top: calc(100% - 86%);display: flex;flex-direction: column;justify-content: space-between;font-size: clamp(1rem, 2vw, 2rem);padding-left:calc(2vw + 13px) ;}
.nav_overlay{    background-color: var(--white_color);position: fixed;left: 0;right: 0;top: 0;height: 100vh;width: 100%;transition: all .3s;transform: translateX(-115%);}
/* .nav_bg_lightbox{background-color: rgba(0 ,0, 0,.6);width: 100vw;height: 100vh;bottom: 0;right: 0;left: 0;position: fixed;opacity: 0;transform: translateY(-100%);} */
/* .nav_open .nav_bg_lightbox{opacity: 1;  z-index: 11;transform: translateX(0%);} */

.nav_open .nav_overlay {transform: translateX(0);transition: all .3s;}
.nav_overlay .nav-wrap {display: flex;padding: 0 27.5vw;flex-direction: row-reverse;align-items: center;justify-content: flex-start;}
.nav_overlay .nav-wrap .nav {display: flex;flex-direction: row-reverse;}
.nav_overlay .nav-wrap .nav .nav_item{font-family: "Noto Serif JP";writing-mode: vertical-lr;flex: 0 0 3%;padding: 0 10%;transition: all .3s;display: flex;justify-content: center;height: 80%;margin-bottom: calc(2vw + 1px);position: relative;font-weight: 600;font-size: clamp(1.5rem, 4vw, 2rem);letter-spacing: 20px;font-weight: 500;text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);}
.logo_menu{background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" x="0" y="0" style="enable-background:new 0 0 90 568" version="1.1" viewBox="0 0 90 568"><style> .st0{fill:%231c2f5a} </style><path d="M6 10.9h35.3V.5h9.5v10.4h32.5v4.7H50.9c-1.9 4.4-5.1 8.5-9.5 12.3h21v-4.7h10.5v59.5h13.4v5.7H3.1v-5.7h14.3V22.2H28v5.7h10.5c1.3-2.5 2.2-6.6 2.9-12.3H6v-4.7zm4.8 106.7H7c9.2-6.9 15.3-15.4 18.1-25.5h13.4c-2.5 7.6-11.8 16-27.7 25.5zm51.5-35v-50H28v8.5h30.6v4.7H28v8.5h30.6V59H28v9.4h30.6v4.7H28v9.4l34.3.1zm-9.5 7.6.5-1c8.6 5.7 16.4 10.7 23.4 15.1-1 4.1-3 8.7-6.2 13.7-5.4-6.6-11.3-15.9-17.7-27.8zM47.8 156.1h26.9v-3.9h9.6v15.6c-2.2-2.6-4-3.7-5.3-3.4-1.3 0-2.7 1.6-4.3 4.9v-7.8h-60v9.3H5.2v-19h9.6v4.4H44c-1.3-1.6-3-5-5.3-10.3l1-1.5c3.5 1.3 7.5 2.9 12 4.9-1.7 3.2-3 5.5-3.9 6.8z" class="st0"/><path d="M23.1 246.6c-2.1 3.3-5.6 7.5-10.6 12.6-.9 1.1-1.6 2-2.2 2.8H7.2c9.7-11.3 17.7-24.1 23.9-38.3H9v-5.5h23.9c1.2-3.6 2.4-8 3.6-13.1H16v-5.5h21.3c.3-2.5.9-6.6 1.8-12H12.5V182h27v-4.9c.3-1.4.4-4.9.4-10.4h10.6c-.6 7.7-.9 12.8-.9 15.3h31v5.5H48.8c-.6 4.4-1.5 8.4-2.7 12h31v5.5H44.8c-.9 3.3-2.5 7.7-4.9 13.1h44.3v5.5H59.9c4.1 10.6 12.3 17.5 24.3 20.8-2 5.1-2.5 10-1.3 14.8v2.8c-.3 0-.7-.2-1.3-.6-5-2.9-8.8-6.4-11.5-10.4 0 0-4.4-7.3-7.1-12-2.7-4.7-4.4-9.8-5.3-15.3h-20c-1.5 3.3-4.6 8.4-9.3 15.3l-5.3 7.6zM21.6 307.6H5.5v-4.7h16.1v-5.7H32c0 14.8-6.7 28.9-19.9 42.4h11.4v-4.7H33c0 26.1-3.5 44.7-10.4 55.7 2.8 4.7 7.3 7.4 13.3 8h50.4c-4.1 3.5-4.7 6.6-1.9 9.4H36.8c-7.9-.3-14.1-4.1-18.5-11.3-4.4 5.6-8.3 10.1-11.4 13.2H3.1c4.7-5.7 8.7-11.6 11.9-17.9-3.5-9.4-5.4-23.4-5.7-42h.5c.3 1.6 1.1 5.1 2.4 10.4 1.6 7.9 3.8 15.7 6.7 23.6 2.8-7.6 4.4-16 4.7-25.5v-14.1H12.2c-1.6 0-3.3.8-5.2 2.3l-.5.5v-7.6c8.6-6.3 13.6-17 15.2-32.1l-.1.1zM34 322.7h16.1v-11.3H37.8v-4.7h12.4v-12.3h9.5v12.3h9.5v-3.8h9.5v19.8h7.6v4.7h-7.6v20.7h-9.5v-4.7h-9.5v13.2h18.1v4.7H59.6v12.3h20.9v4.7H59.6v17.5h-9.5v-17.5H33v-4.7h17.1v-12.3H36.8v-4.7h13.3v-13.2H37.8v-4.7h12.4v-11.3H34v-4.7zm25.6-11.3v11.3h9.5v-11.3h-9.5zm0 16v11.3h9.5v-11.3h-9.5zM49.3 517v10.4h33.1v5.2H54.6c6.1 11 16.6 17.2 31.7 18.4-4.1 1.9-5.6 6.3-4.3 13.2-14.7-5.4-24.7-15.9-29.8-31.6h-2.9V568h-9.6v-29.7c-4.8 6.3-15.4 14.8-31.7 25.5H3.1c15-10.4 25.1-20.8 30.2-31.1H7v-5.2h32.6V517h9.7zm-33.6-66.1h11.5c-1.3 3.8-2.7 6.9-4.3 9.4H44v5.2H24.3c3.2 2.2 6.6 4.7 10.1 7.6-1 2.2-2.7 5-5.3 8.5-3.2-5.7-5.6-11-7.2-16.1h-2.4c-4.8 6.3-9 11-12.5 14.1H3.6c7.4-8.1 11.4-17.7 12.1-28.7zm23.5 32.6v5.2H27.7v18.4c4.5-1.3 9-3.2 13.5-5.7v1c-9.6 8.8-21.8 15.1-36.5 18.9 2.2-4.7 1.9-9-1-12.7 5.8 1 10.9 1.1 15.4.5v-20.3H6.5v-5.2l32.7-.1zm12-33.1h11.5c-1.3 3.2-2.7 6.3-4.3 9.4h24.5v5.2H61.3c3.5 2.2 7 4.4 10.6 6.6-1.3 2.5-2.9 5.2-4.8 8h6.7v28.3c-.3 1.6.5 2.2 2.4 1.9 1.9 0 2.9-.6 2.9-1.9l1.9-16.5h1v13.2h1.9l-.5 9.9c-.3 3.2-1.9 4.6-4.8 4.3h-6.7c-5.5.3-7.8-1.6-7.2-5.7v-25h-12c0 3.5-.2 6-.5 7.6 2.9 1.9 6.4 4.4 10.6 7.6-.7 2.5-1.9 5.5-3.8 9-3.2-5-5.5-9.6-6.7-13.7-1.3 5.4-6.2 12.3-14.9 20.8-1 .6-1.6 1.1-1.9 1.4h-3.8c8.3-5.7 12.3-14.3 12-26v-15.1h9.1v3.3h12v-3.3H66c-3.5-6.6-5.8-11.5-6.7-14.6H55c-1.9 2.9-5.3 7.1-10.1 12.7l-.5.5H41c6.5-8.5 9.8-17.7 10.2-27.9z" class="st0"/></svg>') no-repeat;   background-position: right;flex: 0 0 143px;}
.logo_menu a{display: block;width: 45px; height: 284px;text-indent: -9999px;margin: 0 0 0 auto;}

.hamburgerbox{width: 40px; cursor: pointer;transition: all .3s;}
.hamburgerbox .hamburger_line {width: 17px;height: 2px;display: block;margin: 8px auto;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.hamburgerbox .hamburger_line:nth-child(1) {background-color: #49597B; -webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0);width: 100%;transform-origin: 10% 10%}
.hamburgerbox .hamburger_line:nth-child(2) {opacity: 1;background-color: #77829C;width: 100%;}
.hamburgerbox .hamburger_line:nth-child(3) {background-color: #A4ACBD;-webkit-transform: rotate(0);-moz-transform: rotate(0);-ms-transform: rotate(0);transform: rotate(0);width: 100%;transform-origin: 10% 90%;}


.nav_open .header_wrap{position: fixed;z-index: 15;}
.nav_open .hamburgerbox{width: 58px!important;}

/* background:url(../images/temp/tempclose.png) no-repeat center center; background-size: 100%;*/
.nav_open .hamburgerbox .hamburger_line{margin: 24px auto;}
.nav_open .hamburgerbox .hamburger_line:nth-child(1) {transform: rotate(45deg);background-color: #2D2D2D;top: 10px;position: relative;left: 10px; }
.nav_open .hamburgerbox .hamburger_line:nth-child(3) {transform: rotate(-45deg);background-color: #2D2D2D;  top: -10px;position: relative;right: -10px; }
.nav_open .hamburgerbox .hamburger_line:nth-child(2){background: transparent;  }
.nav_open .hamburgerbox .hamburger_line:nth-child(1):after{content: "";position: absolute;height: 8px;background: #fff;width: 8px;left: 43%;top: -123%;}
.nav_open .logo{display: none;}

.nav_soction{position: fixed; left: 3vw; bottom: 3vw;}
.nav_soction ul li{text-align: center;font-size: 20px;margin-bottom: 20px;}
.nav_soction ul li:last-child{margin-bottom: 0;}
.fixed_bar.active .hamburgerbox{width: 35px;}
@media (max-width: 1700px) {
  .nav_overlay .nav-wrap{padding: 0 24vw;}
}
@media (max-width: 1500px) {
  .nav_overlay .nav-wrap{padding: 0 19vw;}
}

@media (max-width: 1400px) {
  .nav_overlay .nav-wrap{padding: 0 18vw;}
}
@media (max-width: 1300px) {
  .nav_overlay .nav-wrap{padding: 0 15vw;}
}
@media (max-width: 1200px) {
  .nav_overlay .nav-wrap{padding: 0 13vw;}
}
@media (max-width: 1100px) {
  .hamburgerbox{width: 35px;}
  .logo_menu{flex: revert;margin-bottom: 5vw;}
  .nav_overlay .nav-wrap{flex-direction:column;padding-top: 20vw;}
  .nav_overlay .nav-wrap .nav .nav_item{height: 30%;}
  .nav_overlay .nav-wrap .nav{justify-content: center;}
  .nav_soction{left: 0; right: 0; }
  .nav_soction ul{ display: flex;justify-content: center; align-items: center;}
  .nav_soction ul li{margin: 0 20px;}
  .nav_open .hamburgerbox{transform: scale(.8);}
  .nav_overlay .nav-wrap .nav .nav_item{padding: 0 7%;}

}
@media (max-width: 1000px) {
  
}
@media (max-width: 800px) {
  .logo_menu{width: 29px; height: 200px;background-size: 100%;}
  .nav_overlay .nav-wrap .nav .nav_item{padding:  0 2%;}
}
@media (max-width: 600px) {
  .nav_soction{left: 0; right: 0; bottom: 120px;}
  .hamburgerbox .hamburger_line{margin: 4px auto;}
  .hamburgerbox{width: 25px;}
}

/**************************************************
        footer
**************************************************/
.copyright_wrap{display: flex; padding: 24px 0;justify-content: center;font-size: 14px;}
.footer_soction ul {display: flex;margin-left: 12px;}
.footer_soction ul li{margin: 0 12px;}
.footer_soction ul li a{font-size: 1rem;}

@media (max-width: 1100px) {
  .copyright_wrap{flex-direction: column;}
  .footer_soction ul{margin: revert;justify-content: center;}
  .copyright{text-align: center;}
  .copyright a{display: block;}
}
@media (max-width: 600px) {
  .footer_wrap .wrapper{padding:  0 5%;}
  
}


/* @media screen and (min-width: 1101px) and (max-width: 1520px) {
  .logo_menu a{width: 25px;height: 184px;}
  .nav_overlay .nav-wrap .nav .nav_item{font-size: 1.5rem;}
} */
