@charset "utf-8";
.news-bg {
      background-image:url(../images/news/road.jpg);
      background-repeat: no-repeat;
      background-position:bottom;
      padding-bottom: 10px;
}
.news-item {
      padding: 64px 40px;
      border-bottom: 1px solid #E8E8E8;
}
.news-list{position: relative; z-index: 2;}
.news-list .news-item:first-child {border-top: 1px solid #E8E8E8;}
.news-item a {
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.news-item a:hover .news-content h2 {
      color: var(--second_color);

}
.news-item a:hover time {
      color: var(--second_color);

}
.news-content h2 {
      font-family: "Noto Serif TC", serif;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: 0.12em;
      color: var(--primary_color);
      display: flex;
      align-items: center;
      margin-bottom: 16px;
}
.news-content time {
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0.12em;
      color: var(--primary_color);
      margin-right: 24px;
}
.news-content p {
      font-size: .875rem;
      line-height: 20px;
      letter-spacing: 0.12em;
      color: #494949;
}
.news-icon {
      color: #707070;
      font-size: 2.1rem;
      flex: 0 0 30px;
}
.sec-title{text-align: center;}
.bike{background: url(../images/news/bike.gif) no-repeat;  width: 100%;height: 100%; background-size:  auto 120px;position: absolute;bottom: 76px;left: 0;z-index: 0;}

.work{-webkit-animation:work linear 15s infinite both; animation: work linear 15s infinite both;}
@-webkit-keyframes work {
	0% { background-position: -320px 100%;} 
      100% {background-position: 2000px 100%; }
}
@keyframes Work {
	0% { background-position: -320px 100%;} 
      100% {background-position: 2000px 100%; }
}
@media screen and (max-width: 1100px) {
      .bike{bottom:156px}

}
@media screen and (max-width: 767px) {
      
      .news-bg {padding-bottom: 120px;}
      .news-item {padding: 40px 8px;}
      .news-content h2 {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 8px;
      }
      .news-content time {
            margin: 0 0 8px 0;
            font-size: 1rem;
      }
      .news-icon {display: none;}
}
@media screen and (max-width: 600px) {
      .work{-webkit-animation:work linear 10s infinite both; animation: work linear 10s.news-list infinite both;}
      @-webkit-keyframes work {
            0% { background-position: -320px 100%;} 
            100% {background-position: 1000px 100%; }
      }
      @keyframes Work {
            0% { background-position: -320px 100%;} 
            100% {background-position: 1000px 100%; }
      }
}