@charset "utf-8";
/* CSS Document */
/* .innerpage{position: relative;background:url(../images/temp/layout.jpg) no-repeat center -10px;} */
.innerpage{position: relative;padding-top: 263px;}
.sec-title {margin: 0.5vw 0px;}
/* .innerpage::after{content: "";position:absolute; background:url(../images/project/person.gif) no-repeat ; width: 99px; height: 141px;background-size: 100%;bottom: -2px; left: 5%;} */
.innerpage_wrap{position: relative;padding:0 10%;border-bottom: 1px solid #707070;}
.title_wrap{padding: 0 10%;margin-bottom: 80px;}
.swiper_box{display: flex;justify-content: space-between;}

.swiper .slider_controls{position: absolute;z-index: 12;height: 36px;width: 80%;max-width: 230px;margin: 30px auto 0;bottom: 50px;right: 1%;}
.layer_word{color: var(--gray-400_color);align-self: baseline;margin-top: 140px;margin-right: 5%;}

.projectsubtitle{font-size: clamp(.875rem, 5vw, 1rem);letter-spacing: 1.92px;margin-bottom: calc(.5vw - 1px);color: var(--gray-500_color);}
.projectsubname{font-size:.75rem;letter-spacing: 1.92px;margin-bottom: calc(.5vw - 1px);color: var(--gray-400_color);}
.layer_word span{display: block;margin-bottom: calc(.5vw - 3px);color: var(--gray-400_color);font-size: 1rem;letter-spacing: 1.92px;word-wrap: break-word}
.layer_word span+span{padding-left: calc(1vw + 5px);}
.swiper-button-next, .swiper-button-prev{color: var(--primary_color);}
.swiper-pagination-fraction{position: relative;font-size: 0;}
.swiper-pagination-fraction:after{content:"";width:68px;height: 1px;transform: rotate(135deg); background-color: #1C2F5A;    position: absolute;left: 50%;bottom: 50%;margin: 0 0 0 -30px;}
.swiper-pagination-current{font-size:2rem;font-family: 'Amiri';font-weight: 400;letter-spacing: 3.84px;position: relative;top: -15px;}
.swiper-pagination-total{font-size:2rem;font-family: 'Amiri';font-weight: 400;letter-spacing: 3.84px;top: 25px;position: relative;left: 15px;}
.back-btn a{min-width: 180px;width: revert;transition: all .3s ease-in-out;}
.projectdetail{align-self: end;padding-left: 9%;margin-bottom: 60px;}
.btn_wrap{display: flex;margin: 120px 0;justify-content: space-between;border-bottom: 1px solid var(--gray-400_color);align-content: center;font-size: 1rem;font-weight: 500;line-height: 23px;letter-spacing: 0.25em;padding-bottom: 4px;}
.btn_wrap:hover{border-bottom:1px solid var(--white_color); color: #0a58ca;}
.back_word{max-width:80px}
.slider_img img {max-height: 650px;object-fit: contain;}

.person{
    background: url(../images/project/person.gif) no-repeat; 
    width: 38px;
    height: 63px;
    background-size: 100%;
    position: absolute;
    bottom: -9px;
    left: 50%;
    z-index: 0;
    margin-left: -220px;
    transition:  all .3s;
}
.work{-webkit-animation:work linear 20s forwards 1; animation: work linear 20s forwards 1;}
/* .stop {background: url(../images/project/person_1.gif) no-repeat;background-size: 100%; } */
@-webkit-keyframes work {
    0% { left: 220px;} 
    100% {left: 50%;}
}
@keyframes Work {
    0% { left: 220px;} 
    100% {left: 50%;}
    
}

@media (max-width: 1400px) {
    .innerpage_wrap{padding: 0;margin-bottom: 130px;}
}

@media (max-width: 1300px) {
    
    .container{max-width: revert;padding-right:revert;padding-left: revert;}
    .btn_wrap{display: none;}
    .swiper{overflow: visible;}
    .swiper .slider_controls{bottom: -90px;width: 101%;left: 0;right: 0;}
    .innerpage::after{display: none;}
}

@media (max-width: 1100px) {
    
    .layer_word{display: none;}
    .swiper_box{flex-direction: column;}
    .projectdetail{align-self: revert;padding: 0 3%;margin-bottom: 20px;}
    .innerpage {padding-top: 137px;}
    .slider_img img {max-height: 600px;object-fit: contain;}
}
@media (max-width: 910px) {
    
    
}
@media (max-width: 600px) {
    .sec-title {margin: 30px 0;}
    .slider_img img {max-height: 38vh;}
    .person{background: url(../images/project/person_m.gif) no-repeat; background-size: 100%;margin-left: -150px;}
    .work{-webkit-animation:work linear 9s forwards 1; animation: work linear 9s forwards 1;}
    @-webkit-keyframes work {
        0% { left: 150px;} 
        100% {left: 50%;}
    }
    @keyframes Work {
        0% { left: 150px;} 
        100% {left: 50%;}
        
    }
}