@charset "utf-8";

.innerpage{position: relative;}
.service-bg{background-image: url(../images/service/road-2.png);background-repeat: no-repeat;background-position: right 120px top;padding-bottom: 10px;background-size: 16%;position: absolute;left: 0;right: 50px;height: 380px;top: 0;}

.service-bg .person{width: 76px;
    height: 107px;
    background: url(../images/service/man-1.gif)no-repeat;
    offset-position: center;
    animation: move 15s linear 1 forwards;
    background-size: 100%;
    right: 170px;
    bottom: 0;
    position: absolute;
    transition:  all .3s;
}

.svg_wrap{text-align: right;}
@keyframes move {
	0% { transform: translateY(-10px);}
      100% { transform: translateY(-150px);}
}
/* .service-bg {
      background-image: url(../images/service/man-1.gif), url(../images/service/road-1.png);
      background-repeat: no-repeat;
      background-position: 83% 10%, right top;
      padding-bottom: 10px;
      background-size: 70px, 450px;
} */
/* .service-2 .service-bg {
      background-image: url(../images/service/man-2.png), url(../images/service/road-2.png);
      background-repeat: no-repeat;
      background-position: 89% 12%, 94% top;
      padding-bottom: 10px;
      background-size: 60px, 220px;
} */
.service-slider {margin: 0 0 120px 160px;padding-bottom: 64px;}
.mobile-slider {padding-bottom: 48px;}
.swiper-slide img {
      width: auto;max-width: 100%;height: auto;
}
.swiper-slide h2 {
      font-family: "Noto Serif JP", serif;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 29px;
      letter-spacing: 0.12em;
      color: #1C2F5A;
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 16px;
      margin-bottom: 16px;
      max-width: 350px;
}
.swiper-slide p {
      font-family: Noto Serif TC;
      font-size: .875rem;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.12em;
      color: #2D2D2D;
      max-width: 305px;
      
}
.slide-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
}
.service-slider .swiper-slide {width: 1258px;height: 807px;}
.service-slider .swiper-slide:nth-child(2n) {width: 484px;}
.mobile-slider .slide-txt {margin-bottom: 24px;}
.mobile-slider img {margin-bottom: 8px;}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
      max-width: 653px;
      height: 1px;
      background: #707070;
      left: 0;
}
.swiper-scrollbar-drag {
      height: 4px;
      background: #494949;
      top: auto;
      bottom: 3px;
}
.service-info {margin: 0 160px 80px 160px;}
.service-info .sec-title {margin-top: 0;padding-top: 80px;}
.service-info .sec-title h1, .service-info .sec-title p {text-align: left;}
.info-wrap {display: flex;}
.info-wrap .left {
      font-family: Noto Serif TC;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0.12em;
      color: #1C2F5A;
      margin-right: 64px;
      max-width: 330px;
}
.info-wrap .right {
      font-family: Noto Serif TC;
      font-size: 1rem;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.12em;
      color: #2D2D2D;
      max-width: 700px;
}
.cta {margin: 40px 160px;}
.cta li:first-child {border-right: 1px solid #E8E8E8;}
/* .cta ul {
      margin: 0;
      padding: 8px;
      list-style: none;
      display: flex;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
}
.cta li {
      width: 50%;
      display: flex;
      justify-content: center;
}
.cta li:first-child {border-right: 1px solid #E8E8E8;}
.cta a {
      color: #707070;
      font-family: Noto Serif TC;
      font-size: .875rem;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.12em;
      padding: 8px 16px;
      display: block;
      width: 100%;
      text-align: center;
}
.cta a.active {
      color: #1C2F5A;
      pointer-events: none;
} */
@media screen and (max-width: 1500px) {
      .service-slider {margin: 0 0 80px 160px;padding-bottom: 77px;}
      .service-slider .swiper-slide {height:582px;width: 920px;}
      .service-slider .swiper-slide:nth-child(2n){width: 338px;}
      .service-slider .swiper-slide:nth-child(4n){width: 350px;}
      .swiper-slide h2{max-width: revert;}
      .swiper-slide p{max-width: revert;}
      .service-bg .person{margin-right: -100px;}

}
@media screen and (max-width: 1399px) {
      .cta {margin: 40px 80px;}
      .service-info {margin: 0 80px 80px 80px;}
      
      
}
@media screen and (max-width: 1199px) {
      .service-info {margin: 0 40px 80px 40px;}
      .service-slider {margin: 0 0 120px 40px;}
      .service-info .sec-title{padding-top: 0;}
      
      .mobile-slider {margin: 0 0 80px 16px;}
      .service-info .sec-title h1{text-align: center;}
      .service-info .sec-title p{text-align: center;}
      .service-bg .person{display: none;}
      .service-bg{display: none;}
}
@media screen and (max-width: 991px) {
      .info-wrap {flex-direction: column;}
      .info-wrap .left {margin-bottom: 24px;}
      .info-wrap .right {margin-bottom: 40px;}
      
      .service-info {margin: 0 40px 24px 40px;}
      .service-info .sec-title {margin-bottom: 48px;}
      /* .service-slider .swiper-slide{height: 53vh;width: 90vw;}
      .service-slider .swiper-slide:nth-child(2n){width: 36vw;}
      .service-slider .swiper-slide:nth-child(4n){width: 36vw;} */
      
}
@media screen and (max-width: 767px) {
      .service-info {margin: 5% 16px 24px 16px;}
      .service-slider {margin: 0 0 120px 16px;}
      .service-info .sec-title h1, .service-info .sec-title p {text-align: center;}
      .service-bg, .service-2 .service-bg {background-image: none;}
      .info-wrap .left, .info-wrap .right {max-width: none;margin-right: 0;}
}
@media screen and (min-width: 767px) {
      .mobile-slider {display: none;}
}
@media screen and (max-width: 766px) {
      .service-slider {display: none;}
}